{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias":{
          "components": "./components",
          "config": "./config",
          "less": "./less",
          "core": "./core",
          "layout": "./layout",
          "store": "./store",
          "@": "./",
          "utils": "./utils"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "less"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
